*, html, body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header
{
    background-color: black;
    height: 112 px;
    width:100%;
    line-height: 112 px;
    margin:0;
    position: fixed;
    opacity: 0.9;
    z-index: 2;
    overflow:hidden;
}

h1, h2 
{
    margin:0;
}

ul
{
    list-style: none;
}

ul li 
{
   display: inline-block;
}

header nav
{
    position:relative;
    padding-top:13px;
    text-align: right;
    position: relative;
    right:-890px;
    z-index: 3;
    
}

.logo img
{
    position: absolute;
    margin:auto;
    flex-shrink:0;
    top:7px;
    width:3%;
    left:100px;
    z-index:1;
}
.clanName img
{
    position: absolute;
    padding-top: 10px;
    margin-left:0;
    width:20%;
    left: 130px;
}

header nav ul li a
{
    padding-right: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif; 
    color: white;
    transition: all 0.5s;
}

header nav ul li a:hover
{
    text-decoration: none;
}

body
{
    margin-top: 0;
}

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.section h1 {
position:absolute;
font-family: 'Roboto', sans-serif;
    font-weight: 900;
  font-size: 4rem;
color: white;
  top:0;
  margin: 15px;
  z-index: 4;
  opacity: 100;
}

.video-container {
  position: absolute;
  top: 0;
  width: 100%;
    z-index: -1;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

#container2
{
    padding-top:56px;
    min-height: 100vh;
}
.top
{
    height: 45vh;
    background-color: black;
}

.bottom
{
    height: 55vh;
    position: relative;
    margin-bottom:0;
    overflow-y: hidden;
}

.big-logo
{
    opacity:0.6;
    position: absolute;
    z-index: 1;
    margin-left:80px;
}

.container-text
{
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height:70%;
    overflow-y: hidden;

}

.container-text span
{
    display:block;
}

.text1
{
    text-transform:uppercase;
    color: black;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background: white;
    position:relative;
    overflow-y: hidden;
    left: 100px;
    top: 90px;
    z-index:1;
    animation:text 2s 1;
    animation-fill-mode: forwards;
    
}

.text2
{
    position:absolute;
    overflow-y: hidden;
    z-index:2;
    left: 600px;
    top:10px;
    text-align:left;
    font-size: 20px;
    font-weight: bold;
    color: deepskyblue;
    animation:fOut 2.3s;
}

@keyframes fOut{
    00%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}

@keyframes text{
    0%{
        color:white;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing:25px;
        margin-bottom:-40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
        opacity: 1;
    }
    100%{
        opacity:0;
    }
    
}


.border1
{
    position:absolute;
    bottom:0;
    right:-190px;
    
}

.img1
{
    padding-top:40px;
    width:100%;
    height:90%;
    display:flex;
    overflow:hidden;
    justify-content:center;
}

.img2
{
    padding-top:40px;
    width:100%;
    height:90%;
    display:flex;
    overflow:hidden;
    justify-content:center;
}

.img3
{
    padding-top:40px;
    width:100%;
    height:90%;
    display:flex;
    overflow:hidden;
    justify-content:center;
}

.img4
{
    padding-top:40px;
    width:100%;
    height:90%;
    display:flex;
    overflow:hidden;
    justify-content:center;
}

.sliderr, .sliderr ul, .sliderr ul li
{
    height:40vh;
    width:100%;
    color:white;
    overflow-y:hidden;
}

.container-members
{
    padding-top:300px;
    position: absolute;
    z-index:2;

}

.slide-content
{
    position: relative;
    z-index:4;
    top:0px;
    padding-top:60px;
    height:100%;
    width:auto;
    margin:auto;
    display:block;
}

.ralph-card img
{
    position:absolute;
    top:86px;
    height: auto;
    width: 35%;
    float:left;
    left: 90px;
    z-index: 8;

}

.peter-card img
{
    position:absolute;
    right: 90px;
    top:86px;
    height: auto;
    width: 35%;
    float:right;
    z-index: 8;
}

.troy-card img
{
    position:relative;
    height: auto;
    width: 45.5%;
    float:left;
    padding-top: 144px;
    padding-left: 91px;
    z-index: 8;

}

.george-card img
{
    position:absolute;
    height: auto;
    width: 35%;
    bottom: 230px;
    top:203px;
    right: 90px;
    float:right;
    z-index: 8;
}

.nap-card img
{
    position:absolute;
    height: auto;
    width: 35%;
    bottom: 240px;
    top:320px;
    right: 90px;
    float:right;
    z-index: 8;
}

.einstein-card img
{
    position:absolute;
    height: auto;
    width: 35%;
    bottom: 240px;
    top:320px;
    right: 462px;
    float:right;
    z-index: 8;
}

.sai-card img
{
    position:absolute;
    top:86px;
    height: auto;
    width: 35%;
    float:left;
    left: 90px;
    z-index: 7;
}

.migo-card img
{
    position:relative;
    height: auto;
    width: 45.5%;
    float:left;
    padding-top: 144px;
    padding-left: 91px;
    z-index: 7;
}

.ej-card img
{
    position:absolute;
    right: 90px;
    top:86px;
    height: auto;
    width: 35%;
    float:right;
    z-index: 7;
}

.derrick-card img
{
    position:absolute;
    height: auto;
    width: 35%;
    bottom: 230px;
    top:203px;
    right: 90px;
    float:right;
    z-index: 7;
}

.cheska-card img
{
    position:absolute;
    height: auto;
    width: 35%;
    bottom: 240px;
    top:320px;
    right: 462px;
    float:right;
    z-index: 7;
}

.zandro-card img
{
    position:absolute;
    height: auto;
    width: 35%;
    bottom: 240px;
    top:320px;
    right: 90px;
    float:right;
    z-index: 7;
}

.vince-card img
{
    position:absolute;
    top:86px;
    height: auto;
    width: 35%;
    float:left;
    left: 90px;
    z-index: 8;

}

.frank-card img
{
    position:absolute;
    right: 90px;
    top:86px;
    height: auto;
    width: 35%;
    float:right;
    z-index: 8;
}

.wayne-card img
{
    position:relative;
    height: auto;
    width: 45.5%;
    float:left;
    padding-top: 144px;
    padding-left: 91px;
    z-index: 8;

}

.brendan-card img
{
    position:absolute;
    height: auto;
    width: 35%;
    bottom: 230px;
    top:203px;
    right: 90px;
    float:right;
    z-index: 8;
}

.gab-card img
{
    position:absolute;
    height: auto;
    width: 35%;
    bottom: 240px;
    top:320px;
    right: 90px;
    float:right;
    z-index: 8;
}

.danna-card img
{
    position:absolute;
    height: auto;
    width: 35%;
    bottom: 240px;
    top:320px;
    right: 462px;
    float:right;
    z-index: 8;
}

#slider {
   margin: 0 auto;
   width: 900px;
   max-width: 100%;
   text-align: center;
    position: relative;
    top: 0px;
    z-index: 2;
}
#slider input[type=radio] {
   display: none;
    position:absolute;
    z-index: 1;
}
#slider label {
   cursor:pointer;
   text-decoration: none;
    
}
#slides {
   padding: 10px;
   border: 3px solid #ccc;
   background: #fff;
   position: relative;
   z-index: 2;
}
#overflow {
   width: 100%;
   overflow: hidden;
}
#slide1:checked ~ #slides .inner {
   margin-left: 0;
}
#slide2:checked ~ #slides .inner {
   margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
   margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
   margin-left: -300%;
}
#slides .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
   line-height: 0;
    height:500px;
}

#slides .slide {
   width: 25%;
   float:left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   color: #fff;
}

#slides .slide_1 {
   background: #00171F;
}
#slides .slide_2 {
   background: #003459;
}
#slides .slide_3 {
   background: #007EA7;
}
#slides .slide_4 {
   background: #00A8E8;
}
#controls {
   margin: -280px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 2;
   position: absolute;
}
#controls label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 50px;
   height: 50px;
   opacity: 1;
}
#controls label:hover {
   opacity: 0.4;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
   float:right;
   margin: 0 8px 0 0;
   display: block;
}
#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(4),
#slide3:checked ~ #controls label:nth-last-child(3),
#slide4:checked ~ #controls label:nth-last-child(2) {
   background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
   float:left;
   margin: 0 0 0 7px;
   display: block;
}
#bullets {
   margin: 150px 0 0;
   text-align: center;
}
#bullets label {
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius:100%;
   background: #ccc;
   margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
   background: #444;
}
@media screen and (max-width: 900px) {
   #slide1:checked ~ #controls label:nth-child(2),
   #slide2:checked ~ #controls label:nth-child(3),
   #slide3:checked ~ #controls label:nth-child(4),
   #slide4:checked ~ #controls label:nth-child(1),
   #slide1:checked ~ #controls label:nth-last-child(2),
   #slide2:checked ~ #controls label:nth-last-child(3),
   #slide3:checked ~ #controls label:nth-last-child(4),
   #slide4:checked ~ #controls label:nth-last-child(1) {
      margin: 0;
   }
   #slides {
      max-width: calc(100% - 140px);
      margin: 0 auto;
   }
}

/* About Page */


.title
{
    position: relative;
    overflow: hidden;
    padding-top: 130px;
    left:200px;
}

/* socmed buttons */

.icons
{
    position:fixed;
    z-index: 4;
    top:80%;
    transform: translateY(-50%);
    transform: translateX(-42%);
    width: 100%;
    text-align: center;
}

.btn
{
    display:inline-block;
    width:90px;
    height:90px;
    background: #3498db;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 25px -5px #e67e22;
    color: #e67e22;
    overflow:hidden;
    position:relative;
    z-index: 4;
}

.btn i{
    line-height: 80px;
    font-size: 29px;
    transition: 0.2 linear;
    color: #3498db;
}

.btn:hover i{
    transform: scale(1.3);
    color: #ffffff;
}

.btn::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #e67e22;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.btn:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}
@keyframes aaa {
    0%{
        left:-110%;
        top: 90%;
    }50%{
        left: 10%;
        top:-30%;
    }100%{
        top: -10%;
        left: -10%;
    }
}

/* Responsive */

@media (max-width: 500px) {
    header
{
    background-color: black;
    height: 112 px;
    width:100%;
    line-height: 112 px;
    margin:0;
    position: fixed;
    opacity: 0.9;
    z-index: 2;
}

h1, h2 
{
    margin:0;
}

ul
{
    list-style: none;
}

ul li 
{
   display: inline-block;

}

header nav
{
    padding-top:13px;
    padding-left: 240px;
    text-align: right;
}
.header-logos
    {
        display:inline-block;
    }
.logo img
{
    margin:auto;
    position: absolute;
    flex-shrink:0;
    width:12%;
    left:0;
    top:5px;
}
.clanName img
{
    position: absolute;
    left: 40px;
    padding-top: 14px;
    margin-left:0;
    width:50%;
}
    
    header nav ul li a {
    
         padding-right: 15px;
         font-size: 11px;
         font-weight: bold;
         font-family: 'Roboto', sans-serif; 
         color: white;
         transition: all 0.5s;
    }
    
    
}